body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #F0FFF0;
    height: 576px;
    margin-bottom: 42px;
}

section {
    margin-bottom: 42px;
}

/* Navbar */

nav {
    padding-top: 30px;
}

.navbar img {
    width: 198px;
    height: 59px;
}

.navbar-nav a {
    display: inline-block;
    margin-right: 50px;
}

.button-green {
    background-color: #21B573;
    border: none;
    padding: 12px 28px;
    border-radius: 33px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

/* Get Started */

.get-started {
    padding-top: 93px;
}

.get-started h1 {
    font-weight: 700;
}

.get-started h6 {
    color: #FD511A;
    font-size: 1rem;
}

.get-started p {
    color: #6C6B6B;
}

.text-green {
    color: #21B573;
}

.get-started img {
    width: 80%;
}

.get-started button {
    padding: 12px 36px;
}

/* Statistics */

#books .card-deck {
    text-align: center;
}

#books .card {
    background-color: #F8FFFB;
    border: none;
    border-radius: 10px;
}

.card img {
    width: 25%;
    padding-top: 50px;
}

.card h5 {
    font-size: 24px;
    color: #413960;
}

.card p {
    color: #585859;
}

#books .card-active {
    box-shadow: 5px 5px 30px lightgray;
    background-color: #FFFFFF;
}

/* Online Courses */

#courses h2 {
    font-size: 36px;
    padding: 42px 0;
    text-align: center;
    font-weight: 700;
}

#courses .card-deck .card {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 30px lightgray;
    border-radius: 18px 18px 18px 18px;
}

#courses .card img {
    width: 100%;
    padding: 25px 25px;
    border-radius: 5px;
}

#courses button {
    padding: 8px 28px;
}

.card-footer {
    border-top: none;
    background-color: #FFFFFF;
}

#courses .card-body {
    text-align: left;
}

#courses .card .card-footer .my-icon img {
    width: 24px;
    padding: 0;
    margin-right: 10px;
}

.card-footer .my-icon small {
    font-size: 16px;
    color: #585859;
    font-weight: 500;
}

.card-footer:last-child {
    border-radius: 18px;
}

.my-icon {
    padding-bottom: 25px;
}

/* Testimonial */

#testimonial h2 {
    font-size: 36px;
    padding: 42px 0;
    text-align: center;
    font-weight: 700;
}

#testimonial img {
    width: 100%;
}

#testimonial p {
    color: #000000;
    text-align: left;
}

/* Footer */

footer {
    background-color: #282531;
    height: 369px;
}

footer ul li {
    list-style-type: none;
}

footer h6 {
    color: #FFFFFF;
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 18px;
}

footer p {
    color: #FFFFFF;
    line-height: 1;
}

footer .row {
    padding-top: 50px;
}

.copyright p {
    color: #CDCDCD;
    text-align: center;
    padding-top: 100px;
}

footer ul li a {
    color: #FFFFFF;
}

footer ul li a:hover {
    text-decoration: none;
}

/* Media Queries */

@media (max-width: 991.98px) {
    nav a {
        margin-left: 28px;
    }
}

@media (max-width: 767.98px) {

    header {
        height: 100%;
    }

    #books {
        margin-top: 50px;
    }

    footer {
        height: 100%;
    }
}

@media (max-width: 575.98px) {
    #testimonial img {

        padding-bottom: 25px;
    }

    footer {
        text-align: center;
        padding-bottom: 25px;
    }
}